  
<widget id="Springshot.RG" version="0.4.3">
<plugin name="cordova-plugin-splashscreen" spec="~5.0.3" />
<preference name="phonegap-version" value="cli-9.0.0" />
              <name>Springshot Training</name>
              <description>
              A Springshot Workflow Reference Guide 
              </description>
			  <author> Travis Goodroad
	          </author> 
     <platform name="android">
             
              <icon src="res/mipmap-mdpi/mdpi.png" density="mdpi" />
              <icon src="res/mipmap-hdpi/hdpi.png" density="hdpi" />
              <icon src="res/mipmap-xhdpi/xhdpi.png" density="xhdpi" />
              <icon src="res/mipmap-xxhdpi/xxhdpi.png" density="xxhdpi" />
			  <icon src="res/mipmap-xxxhdpi/xxxhdpi.png" density="xxxhdpi" />
			  <splash src="res/splash.png" />
     </platform>
</widget>



