<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "com.phonegap.example"
    versionCode = "10"
    version     = "1.0.0" >

  <name>PhoneGap Example</name>
  <description>
      An example for phonegap build docs.
  </description>
  <author href="https://build.phonegap.com" email="support@phonegap.com">
      wildabeast
  </author>

  <!-- all platforms -->
  <preference name="phonegap-version" value="cli-6.0.0" />
  <preference name="orientation" value="landscape" />
  <preference name="fullscreen" value="true" />

  <!-- iOS only -->
  <preference name="target-device" value="universal" />
  <preference name="prerendered-icon" value="true" />
  <preference name="detect-data-types" value="true" />
  <preference name="exit-on-suspend" value="true" />
  <preference name="deployment-target" value="7.0" />

  <!-- Android only -->
  <preference name="android-build-tool" value="ant|gradle" />
  <preference name="android-minSdkVersion" value="10" />
  <preference name="android-maxSdkVersion" value="15" />
  <preference name="android-targetSdkVersion" value="12" />
  <preference name="android-installLocation" value="auto" />
  <preference name="android-windowSoftInputMode" value="stateVisible|adjustResize" />
</widget>

     <platform name="android">
              <name>Springshot Training</name>
              <icon src="res/mipmap-mdpi/ic_launcher.png" density="mdpi" />
              <icon src="res/mipmap-hdpi/ic_launcher.png" density="hdpi" />
              <icon src="res/mipmap-xhdpi/ic_launcher.png" density="xhdpi" />
              <icon src="res/mipmap-xxhdpi/ic_launcher.png" density="xxhdpi" />
			  <icon src="res/mipmap-xxxhdpi/ic_launcher.png" density="xxxhdpi" />
			  <icon src="web_hi_res_512.png" density="web_hi_res_512" />
     </platform>
